{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.2"}
        no.cjohansen/powerpack {:mvn/version "2024.01.31"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :build {:exec-fn mathive-thoughts.export/export!}}}
