{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.2"}
        no.cjohansen/powerpack {:mvn/version "2024.01.31"}
        clygments/clygments {:mvn/version "2.0.2"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :build {:exec-fn mathive-thoughts.export/export!}}}
