@import url("syntax-highlight.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.video {
  display: grid;
  justify-items: center;
}

img {
  margin-left: auto;
  margin-right: auto;
}

table.based thead.sticky.top-0 tr th {
    @apply p-2 border-gray-200 dark:border-gray-600;
}

table.based th,
table.based td {
    padding: 4px;
    text-align: center;
    font-size: 12px;
}

table.based th:not(:last-child),
table.based td:not(:last-child) {
  @apply border-r border-gray-200 dark:border-zinc-700;
}

/* ========================= */
/* [[[[ VIEW TRANSITION ]]]] */
/* ========================= */

@view-transition {
  navigation: auto;
}

.logo-transition {
    view-transition-name: logo;
}



/* Example article */
.view-transition-page {
  view-transition-name: view-transition-page;
}

::view-transition-old(view-transition-page) {
  animation: 0.4s ease-out both scale-out;
}

::view-transition-new(view-transition-page) {
  animation: 0.4s ease-in both scale-in;
}

@keyframes scale-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* ========================= */
/* [[[[ VIEW TRANSITION ]]]] */
/* ========================= */
